*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* mobile first */
/* general */
body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}
h2{
    font-size: 2rem;
    font-weight: 400;
    font-stretch:semi-expanded;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.flex{
    display: flex;
}

/* colori dei loghi */
.fa-facebook{color: blue;}
.fa-twitter{color: #009eff; }
.fa-instagram{color: #e46d99 ;}
.fa-pinterest{color: #e83535;}
.fa-youtube{color: #e62222;}



/* intestazione */
header{
  
    /* debug */
    background-color: white;
    /* min-height: 100px */
}

header h1{
    padding: 1rem;

    text-align: center;
    font-size: 4rem;
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    color: #ff9614;
}





/* contenuto principale */
main{
    background-color: lightgrey;
}

.container{
    width: 90%;
    margin: 0 auto;
    /* debug */
    background-color: aqua;
    /* min-height: 1000px; */
    border: 1px dashed black;
}

#categoria{
    margin-top: 1rem;
    color: #aeaeb9;
}

#titolo-ricetta{
    margin-top: 0.5rem;
    font-size: 2rem;
    color: #4e3969;
}

#titolo-ricetta .supplemento{
    display: none;
}

.container .row{
    margin: 2rem 0;
}
.col-left, .col-right{
    /* debug */
    background-color: red;
    border: 1px dashed black;
    width: 100%;
    height: 150px;
}

#external-link ul.flex{
    justify-content: space-between;

    margin: 2rem 0;
    /* debug */
    border: 1px dashed black;
}
.logo{
    text-align: center;
    /* padding: 10px 15px; */
    padding: 0.6rem 1rem;
    /* debug */
    background-color: white;
    border-radius: 9999px;
}
ul .supplemento {
    display: none;
}

.banner{
    margin: 2rem 0;
    display: none;
    /* debug */
    background-color: lightblue;
    border: 1px dashed black;
}

.banner img{
    width: 100%;
}

.sep-line{
    margin: 1rem 0;
    width: 10%;
    border-top:2px solid #ff9614;
}


#presentation img{
    width: 80%;
    margin: 1rem auto;
    display: block;
    
}

#presentation p{
    font-size: 20px;
    line-height:2;
}





/* piè di pagina */
footer{
    color: white;
    /* debug */
    background-color:#7c69a4 ;
    /* min-height: 100px; */
}
footer .row{
    padding: 1rem 0;
    
}

footer .col{
    text-align: center;
    margin: 1rem auto;
    width: 70%;
    /* debug */
    /* min-height: 50px; */
    /* background-color: red; */
    /* border: 1px dashed black; */
}
footer h5{
    margin-bottom: 10px;
    font-size: 14px;
}
footer h6{
    font-weight: 200;
    font-size: 14px;

    
}
footer ul.flex{
    flex-wrap: wrap;
    justify-content: space-around;
}
footer li{
    margin: 1rem 0.5rem;
}
footer a{
    color: white;
    text-decoration: underline;
    font-size: 14px;

}

/* responsive */
/*************************************************************
                    Tablet mode 
 ************************************************************/
@media screen and (min-width: 768px) {
    /* intestazione */
    header h1{
        padding: 0.8rem;
        font-size: 3rem;
        text-align: left;
    }

    /* contenuto principale */
    .container{
        width: 85%;
    }
    
    #titolo-ricetta .supplemento{
        display: inline;
    }

    .logo{
        padding: 0.6rem 3rem;

    }

    .banner{
        display: block;
    }

    #presentation img{
        margin: 1rem 1rem 0 0;
        width: 40%;
        float: left;
     }

    .clearfix::after{
        display: table;
        content: "";
        clear: both;
    }

    
    /* pie di pagina */
    footer .col{
        width: 50%;
    }

}
/*************************************************************
                    Desktop mode 
 ************************************************************/
@media screen and (min-width: 992px) {
    /* intestazione */
    header h1{
        padding: 0.5rem;
        font-size: 2rem;
    }

   /* contenuto principale */
   .container{
        width: 70%;
    }

    .container .row{
        display:flex
    }

    .col-left{
        width: 65%;
    }
    .col-right{
        width: 35%;
    }

    .logo{
        font-size: 13px;
        padding: 0.6rem 1.5rem;
    }

    ul .supplemento{
        display: inline;
    }

    /* footer */
    footer{
        font-size: 12px;
    }
    footer .row{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    footer .col{
        width: 40%;
        margin:1rem;
        text-align: left;
    }

    footer h5{
        font-size: 13px;
        margin: 5px 0;
    }
    footer h6{
        font-size: 13px;
    }
    footer li {
        margin: 0;
        margin-right:3px;
    }

    footer a{
        font-size: 13px;
    }

}